.slidebar {
  height: 100%;
  width: 260px;
  color: #fff;
  background-color: white;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
.slidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}
.slidebar a {
  color: gray;
  display: block;
  margin-bottom: 5px;
}
