.flexcontainer {
  display: flex;
  height: 100%;
  background-color: aqua;
}
.maincontent {
  flex: 5;
  padding: 10px 10px 10px 10px;
  height: 100%;
  background-color: #f4f5f7;
}
.sidebar {
  flex: 1;
  background-color: white;
  height: 100%;
}
